<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>798134000035-ul2l4uko3o3qv8l9ps1v4u3gg7ihak9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798134000035-ul2l4uko3o3qv8l9ps1v4u3gg7ihak9b</string>
	<key>API_KEY</key>
	<string>AIzaSyBPqsmjQ8NzHrmzaJroWKNgPQK7pCWXXG4</string>
	<key>GCM_SENDER_ID</key>
	<string>798134000035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gusiken0606.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-eb0d8</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-eb0d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798134000035:ios:045b60c984340c85042216</string>
</dict>
</plist>